body {
    font-family: helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    letter-spacing: 0.8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header h2 {
    margin: 0;
    padding: 24px;
}

.chart-container {
    position: relative;
    height: 600px;
    width: 600px;
    margin-top: 24px;
}